@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: Inter;
  color: #fff;
}

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}

.banner, .dark_blue_banner, .dark_blue_hero, .orange_banner, .green_banner, .red_banner, .purple_banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner {
  background-image: url('/images/banner-bg.png');
}

.dark_blue_banner {
  background-image: url('/images/banner-dark-blue.png');
}

.dark_blue_hero {
  background-image: url('/images/dark-blue-hero.png');
}

.orange_banner {
  background-image: url('/images/banner-orange.png');
}

.green_banner {
  background-image: url('/images/banner-green.png');
}

.purple_banner {
  background-image: url('/images/banner-purple.png');
}

.red_banner {
  background-image: url('/images/banner-red.png');
}

.unmatched_banner {
  background-image: url('/images/banner-unmatched.png');
}

.search_border {
  backdrop-filter: blur(1px);
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, #a1e3ff, #e6e6fa, #e6e6fa, #fffacd, #ffc1e3);
    background-clip: border-box;
    mask:
      linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude !important;
    z-index: -10;
    border-radius: 28px;
    border: 2px solid transparent;
  }
}

.banner_border {
  backdrop-filter: blur(1px);
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, #a1e3ff, #e6e6fa, #e6e6fa, #fffacd, #ffc1e3);
    background-clip: border-box;
    mask:
      linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude !important;
    z-index: -10;
    border-radius: 16px;
    border: 1px solid transparent;
  }
}

.active_plan_border {
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(161, 227, 255, 0.2) 0%, rgba(230, 230, 250, 0.2) 28%, rgba(230, 230, 250, 0.2) 47%, rgba(255, 250, 205, 0.2) 69.5%, rgba(255, 193, 227, 0.2) 95.5%);
}

input {
  background-color: transparent;
  width: 100%;
}

input:focus {
  outline: none;
}

.chat_section a {
  text-decoration: underline !important;
  color: blue !important;
}

ul {
  margin: 0;
  margin-inline: unset !important;
  padding: 0;
  list-style: none;
}

.white_A700_00_white_A700_00_border {
  border-image: linear-gradient(90deg, #ffffff00, #ffffff, #ffffff00) 1;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 10px;
}
.ps-menu-icon {
  width: unset !important;
  min-width: unset !important;
  justify-content: start !important;
  margin: 0 !important;
}
.ps-menu-button,
.ps-menu-icon {
  height: unset !important;
}
.ps-menu-button:hover {
  background-color: unset !important;
}
.ps-sidebar-container,
.ps-submenu-content {
  background-color: transparent !important;
  overflow: unset;
}
.ps-collapsed .ps-menu-icon {
  min-width: 100% !important;
  justify-content: center !important;
}
.ps-collapsed {
  width: 80px !important;
}
.ps-sidebar-container,
.ps-menu-root,
.ps-menu-root > ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.ps-sidebar-root {
  min-width: unset !important;
}
.ps-collapsed,
.ps-collapsed .ps-menu-root,
.ps-collapsed .ps-menu-button {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: unset !important;
  margin-right: unset !important;
}
.ps-collapsed ul {
  align-items: center;
}
.ps-menu-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ps-sidebar-container::-webkit-scrollbar {
  width: 2px;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
}

.pac-container {
  z-index: 9999 !important;
}

.force-scrollbar {
  overflow-x: scroll;
}

.force-scrollbar::-webkit-scrollbar {
  -webkit-appearance: none;
}

.custom-scrollbar {
  scrollbar-width: thin; /* Firefox: Makes scrollbar thin instead of none */
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent; /* Firefox: Visible only when scrolling */
  
  /* For WebKit Browsers */
  &::-webkit-scrollbar {
    width: 8px;
    transition: opacity 0.3s ease-in-out;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Initially hidden */
  &::-webkit-scrollbar {
    opacity: 0;
  }

  /* Show scrollbar when hovering or scrolling */
  &:hover::-webkit-scrollbar,
  &:active::-webkit-scrollbar {
    opacity: 1;
  }
}

.doctor-banner {
  padding: 1.00rem;
  background-color: #2A7DE1;
  background-image: repeating-linear-gradient(
    261.04deg,
    rgba(36, 87, 48, 0.4) 0px,
    rgba(53, 130, 72, 0.4) 124px,
    rgba(36, 87, 48, 0.4) 124px,  
    rgba(36, 87, 48, 0.4) 174px
  );
  background-size: contain;
  background-blend-mode: multiply;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
}
